# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# mv, rm, cp
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

# List only directories
alias lsd='ls -l | grep "^d"'
# `la` defined in .functions

# GIT STUFF

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"

# git root
alias gr='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'



# File size
alias fs="stat -f \"%z bytes\""

# Delete all node_module packages
alias delete_npm='for package in `ls node_modules`; do sudo npm uninstall $package; done; sudo rm -rf node_modules/.bin'
